@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Fira Mono';

  --accent: #e63946;
  --light: #f1faee;
  --midL: #a8dadc;
  --midD: #457b9d;
  --dark: #1d3557;

  background-color: var(--midL);

  --content-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
}

.outerContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearLine {
  width: 100%;
  text-align: end;
}

.clearButton {
  font-size: 2rem;
  color: var(--light);
  margin-right: 2rem;
  margin-top: 1rem;
}

.pageHeader {
  margin: 4rem 0;
  color: var(--accent);
  font-size: 4rem;
  font-weight: 400;
  width: var(--content-width);
  text-align: center;
}

.pageContent {
  height: 80%;
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todoLine {
  background-color: var(--light);
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  justify-content: center;
}

.todoLine > p {
  margin: auto 0;
  color: var(--accent);
  font-size: 2rem;
}

.newLine > input {
  width: 100%;
  height: 4rem;
  border: 0;
  outline: none;
  color: var(--accent);
  font-size: 2rem;
}

.newIcon {
  height: 4rem;
  width: 4rem;
}

.expandedItem {
  background-color: var(--light);
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  height: 16rem;
}

.taskName {
  font-size: 2rem;
  color: var(--accent);
  margin: auto 0;
}

.descInput {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: -2;
  background-color: var(--light);
  border: none;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  color: var(--accent);
  margin: 1rem;
}

#confirmDesc {
  grid-row: 3;
  grid-column-start: -1;
}
